android/app/src/main/assets/admiral_data.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Admirals">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="admiralList">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Admiral" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="Title"/>
                                        <xs:element type="xs:string" name="Ability"/>
                                        <xs:element type="xs:string" name="Unique"/>
                                        <xs:element type="xs:byte" name="Talent" minOccurs="0"/>
                                        <xs:element name="Factions">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="Faction"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:byte" name="Cost"/>
                                        <xs:element type="xs:string" name="Id"/>
                                        <xs:element name="Releases">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="Release"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:byte" name="Skill"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>